doctype html
html
  head
    title Details
  body
    h2 Details
    p Name: #{user.User_name}
    p Request Type: #{user.request_type}
    p Request Date: #{user.request_date}
    p Request Discription : #{user.summary}
    p Request Location: #{user.request_location}
    button Accept
    br
    br
    a(href="/all_requests") Back to Request List
